
{% extends "doctors/base.html" %}
{% load static %}

{% block title %}
  Doctor login
{% endblock title %}


{% block body %}

<body class="doctor_login_body">
  <div class="container-fluid">
    <div class="login_container">

      {% if error %}
      <div class="panel panel-danger">
        <div class="panel-heading padded_container">
          Error
        </div>
        <div class="panel-body">
          <p class="p_centered_red"> {{ error }} </p>
        </div>
      </div>
      {% endif %}
      <div class="panel panel-primary">
        <div class="panel-heading padded_container">
          Doctor login
        </div>
        <div class="panel-body">
          <form method="post">
            {% csrf_token %}
            
            <div class="logo_container">
              <img src="{% static 'doctors/pix/doctor_login_logo.png' %}" alt="Doctor" class="login_logo">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
            </div>
            
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" name="password"required>
            </div>
            
            <div class="form-group">
              <button type="submit" class="form-control btn btn-success">Login</button>
            </div>        

          </form>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="padded_container">
        New here? <a href="/app/register">Create an account</a>
        </br></br>
        <a href="/app/forgot_password">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock body %}

{% block scripts %}

{% endblock %}