
{% extends "doctors/base.html" %}

{% load static %}

{% block title %}
	Lungcheck forgot password
{% endblock title %}

{% block body %}

<body class="doctor_register_body">
	<div class="container-fluid">
	  <div class="register_container">

	  	{% if request %}

	  	<div class="panel panel-primary">

			  <div class="panel-heading padded_container">
			    Password recovery
			  </div>
		      
		      <div class="panel-body">
			    <form method="post" class="form">
			   	  {% csrf_token %}

			      <!-- DISPLAY HEADER MESSAGE -->
			      <div class="info_container bg-info">
			      	Forgot your password?
			      </div>
						
				  <div class="form-group">
					<label>Please enter your username:</label>
					<input 
						type="text" 
						class="form-control" 
						name="username" 
						autofocus
					>
				  </div>

				  <div class="form-group">
		            <button type="submit" class="form-control btn btn-primary">Continue</button>
		          </div>       


				</form>
			  </div>
			</div>

			<div class="panel panel-primary">
			  <div class="padded_container">
			    <a href="/app/login">Go back?</a>
			  </div>
			</div>

		</div>

		{% else %}

		<div class="panel panel-primary">
		  <div class="padded_container">
		    A recovery email has been sent to your email address.
		  </div>
		</div>

		{% endif %}

	</div>

</body>

{% endblock body %}