
{% extends "doctors/base.html" %}

{% load static %}

{% block title %}
	Doctor register
{% endblock title %}

{% block body %}

<body class="doctor_register_body">
	<div class="container-fluid">
	  <div class="register_container">

		{% if first %}
		<!-- REGISTER FORM: FIRST INFO ABOUT HOSPITAL -->

			<div class="panel panel-primary">
			  <div class="panel-heading padded_container">
			    Doctor registration
			  </div>
		      
		      <div class="panel-body">
			    <form method="post" class="form">
			   	  {% csrf_token %}
			          
			      <div class="info_container bg-info">
			      	Please, provide us some basic information.
			      </div>
						
				  <div class="form-group">
					<label for="first_name">First name:</label>
					<input type="text" class="form-control" id="first_name" required>
				  </div>
					
				  <div class="form-group">
					<label for="last_name">Last name:</label>
					<input type="text" class="form-control" id="last_name" required>
				  </div>	
					
				  <div class="form-group">
					<label for="license">License number:</label>
					<input type="text" class="form-control" name="license" required>
				  </div>
					
				  <div class="form-group">
				  	<label for="hospital">Hospital:</label>
					<input type="text" class="form-control" id="hospital" required>
				  </div>

				  <div class="form-group">
		            <button type="submit" class="form-control btn btn-primary">Continue</button>
		          </div>       

			    </form>
			  </div>
			</div>

			<!-- ALREADY REGISTERED ? -->
		  	<div class="panel panel-primary">
			  <div class="padded_container">
			    Already registered? <a href="/doctors/login">Log in</a>
			  </div>
			</div>

		{% elif second %}
		<!-- REGISTER FORM: SECOND PERSONAL INFO -->
		
			<div class="panel panel-primary">
			  <div class="panel-heading padded_container">
			    Doctor registration
			  </div>
		      
		      <div class="panel-body">
			    <form method="post" class="form">
			   	  {% csrf_token %}
			      
			      <div class="info_container bg-info">
			      	Could you give us some more information?
			      </div>
					
				  <div class="form-group">
					<label for="birth_year">Birth year:</label>
					<select class="form-control" id="birth_year">
					  <option></option>
					  {% for year in Years %}
					    <option>{{ year }}</option>
					  {% endfor %}
					</select>
				  </div>

				  <div class="form-group">
					<label for="experience">Years of experience:</label>
					<select class="form-control" id="experience">
					  <option>0 - 5</option>
					  <option>5 - 10</option>
					  <option>10 - 20</option>
					  <option>20+</option>
					</select>
				  </div>
					
				  <div class="form-group">
					<label for="gender">Gender:</label>
					<select class="form-control" id="gender">
					  <option>Not given</option>
					  <option>Male</option>
					  <option>Female</option>
					</select>
				  </div>
					
				  <div class="form-group">
					<label for="country">Country:</label>
					<select class="form-control input-medium bfh-countries" data-country="FI"></select>
				  </div> 

				  <div class="form-group">
		            <button type="submit" class="form-control btn btn-primary">Continue</button>
		          </div>       

			    </form>
			  </div>
			</div>

		{% elif third %}
		<!-- REGISTER FORM: THIRD USER AND PASSWORD -->

			<div class="panel panel-primary">
			  <div class="panel-heading padded_container">
			    Doctor registration
			  </div>
		      
		      <div class="panel-body">
			    <form method="post" class="form">
			   	  {% csrf_token %}

			   	  <div class="info_container bg-info">
			      	Finally, choose a username and password.
			      </div>

		          <div class="form-group">
		    		<label for="username">Username:</label>
		   			<input type="text" class="form-control" id="username">
				  </div>
						
				  <div class="form-group">
					<label for="mail">Email:</label>
					<input type="mail" class="form-control" id="mail">
				  </div>
					
				  <div class="form-group">
					<label for="password">Password:</label>
					<span style="float:right;"><i><small>Use at least 8 characters</small></i></span>
					<input type="password" class="form-control" id="password">
				  </div>	
					
				  <div class="form-group">
					<label for="confirm_password">Confirm password:</label>
					<input type="password" class="form-control" id="confirm_password">
				  </div>

				  <div class="form-group">
		            <button type="submit" class="form-control btn btn-success">Complete registration</button>
		          </div>       

			    </form>
			  </div>
			</div>

		{% endif %}

	  </div>
	</div>

</body>

{% endblock body %}