
{% load static %}

<!DOCTYPE HTML>

<html lang="en">
	<head>

		<title>
		{% block title %}
		Title here
		{% endblock %}
		</title>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Own css -->
		<link rel="stylesheet" type="text/css" href="{% static 'doctors/style/main.css' %}" />

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Bootstrap form helpers -->
		<link href="{% static 'doctors/plugins/formhelpers/dist/css/bootstrap-formhelpers.min.css' %}" rel="stylesheet">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Bootstrap form helpers -->
		<script src="{% static 'doctors/plugins/formhelpers/dist/js/bootstrap-formhelpers.min.js' %}"></script>

	</head>

	{% block body %}
		Body here
		</div>
	</body>
	{% endblock %}

</html>
