
{% load static %}

<!DOCTYPE HTML>

<html lang="en">
	<head>

		<title>
		{% block title %}
		Title here
		{% endblock %}
		</title>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Own css -->
		<link rel="stylesheet" type="text/css" href="{% static 'doctors/style/main.css' %}" />

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="{% static 'doctors/plugins/flagstrap/src/jquery.flagstrap.js' %}"></script>

	</head>

	<body>
		<div class="container-fluid">
			{% block body %}Body here{% endblock %}
		</div>
	</body>

	{% block scripts %}{% endblock %}

</html>
