
/* AUTH CSS */

.login_container {
	padding-top: 100px;
	width : 340px;
	margin : 0 auto;
}

.register_container {
	padding-top: 100px;
	width : 540px;
	margin : 0 auto;
}

.padded_container {
    padding: 16px;
    margin : 0 auto;
    text-align: center;
}

.logo_container {
    text-align: center;
    margin: 24px 0 35px 0px;
 }

.login_logo {
	width: 65%;
    border-radius: 50%;
    border: 1px solid rgb(200,200,200);
}

.register_logo {
	width: 45%;
    border-radius: 50%;
}

/* INTRANET CSS */