
{% load static %}

<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>
			{% block title %}
				Lungcheck Home page
			{% endblock %}
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'lungcheck/assets/css/main.css' %}" />
		<link rel="shortcut icon" type="image/png" href="{% static 'lungcheck/images/favicon.png' %}"/>
	</head>

	<body>
		{% block body %}
			Body here
		{% endblock %}
	</body>

</html>